
body {
	line-height: 1.75;
}

.snap-list-item {
	display: flex;
	flex-flow: row wrap !important;
	width: 100%;
}

.snap-img {
	display: block;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 255px;
	flex: 0 0 100%;
}

.snap-list-item-header {
	text-align: right;
	flex: 1 0 auto !important;
}

.snap-meta {
	flex: 0 1 auto !important;
}

